@import "src/scss/_variables.scss";

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

mat-card {
  border: 3px solid $peyer-color-green;
  border-radius: 10px;
  padding: 0;

  mat-card-content {
    margin: 0px 16px;
    padding-top: 35px;
  }

  mat-card-actions {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 16px !important;
    padding: 0;

    .mat-raised-button {
      margin: 0;
    }
  }
}

mat-form-field {
  width: 100%;
  padding-bottom: 16px;

  ::ng-deep .mat-form-field-flex .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-width: 3px;
    }
  }
}
