<form [formGroup]="produtoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Cadastro de Produto</mat-card-title>       
        <!-- <mat-card-title>Título</mat-card-title>        -->
    </mat-card-header>
    
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
              <mat-label>Descrição</mat-label>
            <input matInput placeholder="Informe uma breve descrição para o produto" formControlName="descricao">
            <mat-error *ngIf="produtoForm.controls['descricao'].hasError('required')">
              Descrição é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>          
        </div>       
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
              <mat-label>Valor Inicial</mat-label>
            <input matInput placeholder="Valor R$" formControlName="valorA"  type="number" step="0.10">
            <mat-error *ngIf="produtoForm.controls['valorA'].hasError('required')">
              Valor é <strong>obrigatório</strong>
            </mat-error>
            <mat-hint>R$</mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
              <mat-label>Tipo de unidade</mat-label>
            <mat-select placeholder="Unidade Medida" formControlName="unidade_medida">
              <mat-option *ngFor="let state of medidas" [value]="state.id">
                {{ state.descricao }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="produtoForm.controls['unidade_medida'].hasError('required')">
              Unidade de medida é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
              <mat-label>Valor com desconto</mat-label>
            <input matInput placeholder="Valor com desconto R$" formControlName="valorB"  type="number" step="0.10">            
            <mat-hint>R$</mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
              <mat-label>Limite para o início do desconto</mat-label>
            <input matInput placeholder="Limite valor 1" formControlName="limite" type="number" step="1">
            <mat-hint>valor inicial * quantidade</mat-hint>
          </mat-form-field>
        </div> 
        <div class="col">
          <mat-form-field >
              <mat-label>Cod. Fornecedor</mat-label>
            <input matInput formControlName="cod_fornecedor" type="text" >
            <mat-hint>Identificador do fornecedor</mat-hint>
          </mat-form-field>
        </div>       
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button  style="float: right;" mat-raised-button color="danger" type="button" (click)="voltar()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
