<form [formGroup]="pedidoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Pedido Pendente</mat-card-title>       
        <!-- <mat-card-title>Cadastrar Pedido</mat-card-title>        -->
    </mat-card-header>
    
    <mat-card-content>
      <div class="row">
        <div class="col">
        <mat-card-actions>
          <button mat-button mat-raised-button color="default" type="button" (click)="openDialog()" style="margin-left: 10px;">
            Buscar Cliente
            <mat-icon>search</mat-icon>            
          </button>    
          
          <button mat-button mat-raised-button color="default" type="button" (click)="gerarRelatorio()" style="margin-left: 10px;">
           Gerar relatório
            <mat-icon>insert_drive_file</mat-icon>            
          </button> 
        </mat-card-actions>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field style="width: 70%;">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome Cliente" formControlName="nome">            
          </mat-form-field> 
        <!-- </div> -->
        <!-- <div class="col"> -->
          <mat-form-field style="width: 29%;">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="(00)00000-0000" formControlName="numero_celular">            
          </mat-form-field>          
        </div> 
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field style="width: 59%;">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco">            
          </mat-form-field>          
          <mat-form-field style="width: 10%;">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero">            
          </mat-form-field>          
          <mat-form-field style="width: 30%;">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complemento">            
          </mat-form-field>          
        </div>
      </div>
      <div class="row">
        <!-- <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="(00)00000-0000" formControlName="numero_celular">            
          </mat-form-field>          
        </div>        -->
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Dia de entrega</mat-label>
            <mat-select placeholder="Selecione o dia para entrega" formControlName="dia_entrega">
              <mat-option *ngFor="let dia of dia_semana" [value]="dia">
                {{ dia }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pedidoForm.controls['dia_entrega'].hasError('required')">
              Unidade de medida é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>  
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Forma de pagamento</mat-label>
            <mat-select placeholder="Unidade Medida" formControlName="forma_pagamento">
              <mat-option *ngFor="let state of forma_pagamento" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pedidoForm.controls['forma_pagamento'].hasError('required')">
              Unidade de medida é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>  

        <div class="col" > 
          Total Pedido: {{total | currency:'BRL':true }}
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <section class="example-section">
            <label class="example-margin" style="margin-bottom: 2px;">Pago: </label>
            <mat-radio-group formControlName="pago">
              <mat-radio-button class="example-margin" [checked]="pedido.pago" [value]="true">Sim</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="!pedido.pago" [value]="false">Não</mat-radio-button>
            </mat-radio-group>
          </section>
       </div>  
       <div class="col">
        <!-- <section class="example-section"> -->
          <label class="" style="margin-bottom: 0px;">Somentes pedidos: </label>
          <mat-radio-group formControlName="pago">
            <mat-radio-button class="example-margin" (click)="changeSomentePedidos()" [checked]="somentePedido" [value]="true">Sim</mat-radio-button>
            <mat-radio-button class="example-margin" (click)="changeSomentePedidos()" [checked]="!somentePedido" [value]="false">Não</mat-radio-button>
          </mat-radio-group>
        <!-- </section> -->
     </div>    
       <div class="col">
        <mat-form-field class="input-full-width" style="width: 100%;">
          <mat-label>Buscar</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Buscar" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchTerm">
        </mat-form-field>
     </div>  
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Produto</th>
                  <!-- <th>Preço</th> -->
                  <th class="td-prod-btn">qtd</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr class="td-prod " *ngFor="let prod of catalogoAtual?.produtos | filter:searchTerm">
                  <td class="td-prod-descr" style="width: 50%">
                    <span class="altura-linha"> {{ prod.descricao }} </span>
                     {{ prod.valorA | currency: "BRL":true }}
                     {{ tipoUnidademedida(prod) }}
                   </td>
                   <td class="td-prod-btn">
                    <span class="span-btn">
                      <button
                        class="td-prod mat-elevation-z1"
                        type="button"
                        mat-mini-fab
                        color="default"
                      >
                        <mat-icon
                          (click)="decrementarProd(prod)"
                          class="icon-display"
                          >remove</mat-icon
                        >
                      </button>
  
                      <p class="qtd">{{ prod.quantidade || 0 }}</p>
  
                      <button
                        class="td-prod mat-elevation-z1"
                        type="button"
                        mat-mini-fab
                        color="default"
                      >
                        <mat-icon
                          (click)="incrementarProd(prod)"
                          class="icon-display"
                          >add</mat-icon
                        >
                      </button>
                    </span>
                  </td>
                  <td class="td-prod">
                    {{
                      prod?.valor_total != null
                        ? (prod.valor_total | currency: "BRL":true)
                        : (0 | currency: "BRL":true)
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>         
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button  style="float: right;" mat-raised-button color="danger" type="button" (click)="voltar()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
