<mat-dialog-content class="full-width-dialog">
  <form [formGroup]="form" novalidate>
    <div class="row">
      <div class="col">
        <mat-form-field style="width: 100%;">
          <mat-label>Pesquisar</mat-label>
          <input matInput placeholder="Início do Nome ou Celular" formControlName="nome">                  
        </mat-form-field>
        <mat-card-actions style="width: 100%;">
          <button mat-button mat-raised-button color="default" type="button" (click)="buscar()" style="margin-left: 10px;width: 100%;">
            Buscar Cliente
            <mat-icon>search</mat-icon>            
          </button>                
        </mat-card-actions> 
      </div>
    </div>
    <section class="example-section">
      <label class="example-margin" style="margin-bottom: 2px;">Buscar por : </label>
      <mat-radio-group formControlName="ctrTipo">
        <mat-radio-button  class="example-margin" (click)="changeTipoNome()" [checked]="isNome" value="true">Nome</mat-radio-button>
        <mat-radio-button class="example-margin" (click)="changeTipoCel()" [checked]="!isNome" value="false">Celular</mat-radio-button>
      </mat-radio-group>
    </section>
  </form>
  <mat-list>
    <!-- <mat-list-item *ngIf="isLoading">
      Carregando
    </mat-list-item> -->
    <mat-list-item *ngIf="listaOriginal.length==0 && !isLoading">
      Não existe itens para selecionar
    </mat-list-item>
    <mat-list-item *ngFor="let cliente of listaOriginal" style="white-space: nowrap;" >    
      <button mat-icon-button color="accent">
        <mat-icon (click)="addItem(cliente)">add_circle</mat-icon>
      </button>
        <span> NOME: {{ cliente.nome }} </span>&nbsp;
        <span>  - CEL: {{ cliente.numero_celular }}</span>
     </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Fechar</button>
</mat-dialog-actions>
