.listHistory {
  overflow-y: auto;
  padding: 0 5px;

  ::ng-deep .mat-list-item {
    width: 100%;
    height: 55px;
    background: #2d72781c;
    border-radius: 5px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .column-flex {
      justify-content: space-around;
    }

    span.label {
      font-weight: 500;
      font-size: 16px;
    }

    .info {
      font-size: 15px;
    }

    .row-flex mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}

.loading {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
