<div class="row-flex header">
    <mat-icon class="icon" color="primary">contact_phone</mat-icon>
    <span mat-dialog-title>{{'cadastros.usuarios.titulo.contatosEmergencia.titulo'|translate}}</span>
    <!-- <button mat-icon-button [mat-dialog-close]="true"> -->
        <mat-icon color=warn [mat-dialog-close]="true">close</mat-icon>
    <!-- </button> -->
</div>

<mat-divider></mat-divider>
<span class="username">{{data.username}}</span>
<mat-divider></mat-divider>

<mat-list class="listContacts">
    <mat-list-item *ngFor="let contato of data.emergencyContacts">
        <mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line class="ellipsis">{{contato.nome}}</div>
        <div mat-line> {{contato.telefone}} </div>
    </mat-list-item>
</mat-list>