<app-header 
  [navbarBrandRouterLink]="['/dashboard']" 
  [fixed]="true" 
  [navbarBrandMinimized]="" 
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false" 
  [mobileAsideMenuToggler]="false"
  [navbarBrandFull]="{src: 'assets/img/brand/peyer_logo.png', alt: 'Peyer Bern Web'}" class="elev">

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/default.jpg" class="img-avatar" alt="julianoezequiel@gmail.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#" (click)="logout()">
          <i class="fa fa-sign-out" style="color: #2d7278;"></i>{{'titulo.sair' | translate}}
        </a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize()" class="elev">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <!-- <app-sidebar-minimizer></app-sidebar-minimizer> -->
    <!-- <button class="sidebar-minimizer brand-minimizer" type="button"></button> -->
  </app-sidebar>

  <!-- Main content -->
  <main class="main">
    <mat-card class="principal mat-elevation-z5">
      <router-outlet></router-outlet>
    </mat-card>
  </main>
</div>

<!-- <app-footer> -->
<!-- <span><a href="https://coreui.io"></a> &copy; 2020.</span> -->
<!-- <span class="ml-auto">Criado por  <a href="https://coreui.io/angular">Vinicius Felipe</a></span> -->
<!-- </app-footer> -->