@import "src/scss/_variables.scss";

.elevation {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.57);
}

::ng-deep .elevation-card {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3) !important;
}

/* HEADER */
app-header {
  height: 70px;
  background-color: $peyer-color-green;
  border: 0;

  ::ng-deep {
    a.navbar-brand {
      margin-bottom: 10px;

      img {
        height: 67px;
        margin: auto;
      }
    }

    .navbar-toggler {
      background: $peyer-color-yellow;
      min-width: 40px;
      margin: 0 5px;
    }
  }

  .user-button {
    margin-right: 10px;
    padding: 5px 7px;
    width: 185px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 28%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 30%);
    }

    .row-flex {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .username {
      color: white;
      font-weight: 400;
      font-size: 0.93em;
    }
  }

  .img-avatar {
    height: 40px;
    width: 40x;
  }
}

::ng-deep .breadcrumb {
  background: #2f353a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.app-body {
  margin-top: 70px;
}

/* SIDEBAR */
app-sidebar {
  padding-top: 10px;

  app-sidebar-nav {
    ::ng-deep app-sidebar-nav-items {
      padding: 0px 5px;

      app-sidebar-nav-link {
        margin-bottom: 2px;
        height: 50px;

        a {
          padding-right: 0px;
          padding-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          height: 50px;

          app-sidebar-nav-link-content {
            display: flex;
            align-items: center;
            height: 40px;
          }
        }

        i {
          margin-right: 15px !important;
          font-size: 23px !important;
          vertical-align: middle !important;
          color: $peyer-color-yellow !important;

          &.fa-truck {
            transform: scaleX(-1);
            padding-right: 23px;
            margin-right: 10px !important;
          }
        }

        .nav-link {
          border-radius: 10px;

          &:hover {
            background-color: #3a4248 !important;
          }

          &.active, &:hover {
            box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 30%);
          }
        }
      }
    }
  }
}

/* CONTENT MAIN */
main.main {
  padding: 12px;
  background-color: #cdcdcd;

  mat-card.principal {
    height: 100%;
    padding: 0;  
    
    &.isDashboard {
      box-shadow: none;
    }

    ::ng-deep mat-card-header.principal {
      background-color: #2f353a;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 48px;
      align-items: center;

      mat-card-title {
        margin: 0;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          color: $peyer-color-yellow;

          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #fddf4e;

            mat-icon {
              font-size: 27px;
              height: 27px;
              width: 27px;
            }

            span {
              margin-left: 5px;
            }

            &:hover {
              text-decoration: none;
              color: #d1b73b;

              mat-icon {
                color: #d1b73b;
              }

              span {
                text-decoration: underline;
              }
            }
          }
        }
        .sub-title {
          margin-left: 5px;
          color: #e0e1e2;
        }
      }
    }

    ::ng-deep mat-card-content.principal {
      height: calc(100vh - 230px);
    }

    ::ng-deep mat-card-actions.principal {
      margin: 0;
      padding: 8px 16px;
      align-items: center;

      button {
        width: 140px;
        height: 40px;
        margin: 0;
      }
    }
  }
}
