<form [formGroup]="requestForm" novalidate>

    <mat-card-header class="principal">
        <mat-card-title>
            <span class="title">
                <a href="#/absence-requests">
                    <mat-icon color=accent>arrow_back</mat-icon>
                    <span>{{ 'menu.absenceRequests' | translate}}</span>
                </a>
            </span>
            <span class="sub-title">{{ pageTitle | translate}}</span>
        </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="principal">
        <mat-card class="h100 elevation-card" style="overflow-y: auto;">

            <mat-card-header class="fieldsGroupHeader">
                <mat-card-title class="fieldsGroupTitle">
                    <!-- <img class="mat-icon" src="assets/img/icon/truck-solid-green.png"> -->
                    <mat-icon color="primary">info</mat-icon>
                    <span>{{'cadastros.absenceRequests.title.requestInformation' | translate}}</span>
                </mat-card-title>
            </mat-card-header>

            <div class="row-flex">
                <!-- NAME -->
                <mat-form-field appearance="fill" class="isReadOnly" style="width: 49%">
                    <mat-label>{{'cadastros.absenceRequests.field.name' | translate}}</mat-label>
                    <input matInput [value]="name" readonly>
                </mat-form-field>

                <!-- REQUEST STATUS -->
                <div [class]="statusColor" style="width: 49%" [ngClass]="{'isNewRecord': isNewRecord}">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>{{'cadastros.absenceRequests.field.status'|translate}}</mat-label>
                        <mat-select disableOptionCentering #selectStatus (selectionChange)="getStatusColor()">
                            <ng-container *ngFor="let status of requestStatusList">
                                <mat-option [value]="status.value">{{ status?.label | translate }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row-flex">
                <!-- BEGIN DATE -->
                <mat-form-field appearance="fill" style="width: 49%">
                    <mat-label>{{'cadastros.absenceRequests.field.beginDate'|translate}}</mat-label>
                    <mat-icon matPrefix color="primary">call_made</mat-icon>
                    <input matInput [matDatepicker]="picker1" formControlName="beginDate">
                    <mat-hint>(DD/MM/YYYY)</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="requestForm.controls['beginDate'].hasError('required')">
                        <strong>{{'cadastros.campo.obrigatorio'|translate}}</strong>
                    </mat-error>
                </mat-form-field>

                <!-- END DATE -->
                <mat-form-field appearance="fill" style="width: 49%">
                    <mat-label>{{'cadastros.absenceRequests.field.endDate'|translate}}</mat-label>
                    <mat-icon matPrefix color="warn">call_received</mat-icon>
                    <input matInput [matDatepicker]="picker2" formControlName="endDate">
                    <mat-hint>(DD/MM/YYYY)</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="requestForm.controls['endDate'].hasError('required')">
                        <strong>{{'cadastros.campo.obrigatorio'|translate}}</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row-flex">
                <!-- PERIOD -->
                <mat-form-field appearance="fill" style="width: 49%">
                    <mat-label>{{'cadastros.absenceRequests.field.period'|translate}}</mat-label>
                    <mat-select disableOptionCentering #selectPeriod>
                        <ng-container *ngFor="let type of periodTypesList">
                            <mat-option [value]="type.value">{{ type?.label | translate }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!-- CAUSE -->
                <mat-form-field appearance="fill" style="width: 49%">
                    <mat-label>{{'cadastros.absenceRequests.field.cause'|translate}}</mat-label>
                    <mat-select disableOptionCentering #selectCause>
                        <div class="scrollLists">
                            <ng-container *ngFor="let type of causeTypesList">
                                <mat-option [value]="type.value">{{ type?.label | translate }}</mat-option>
                            </ng-container>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>
    </mat-card-content>

    <mat-card-actions align="end" class="principal">
        <mat-spinner [diameter]="20" *ngIf="disableBtn" style="margin: 0 15px"></mat-spinner>
        <button mat-raised-button color="primary" (click)="onSubmit()"
            [disabled]="disableBtn">{{'titulo.salvar'|translate}}</button>
        <button mat-raised-button color="danger" type="button" (click)="goToList()"
            style="margin-left: 10px;">{{'titulo.voltar'|translate}}
        </button>
    </mat-card-actions>

</form>