mat-card-content.principal {
  margin-bottom: 10px;
}

.mat-column-name {
  width: 35%;
  max-width: 90px;
}

.mat-column-status {
  width: 10%;
  max-width: 90px;
}

img.mat-icon {
  margin: 0 6px;
  height: 20px !important;
  width: 26px !important;
}

.mat-column-lastDriver {
  width: 35%;
  max-width: 90px;
}

.mat-column-licensePlate {
  width: 10%;
  max-width: 90px;
}

.mat-column-totalWeight {
  width: 10%;
  max-width: 90px;

  span {
    margin: 0 16px;
  }
}

.mat-column-acoes {
  text-align: center;

  .buttons-align {
    display: flex;
  }
}

tr.element-row:not(.element-focus):hover {
  background: #eeeeee;
  cursor: pointer;
}

tr.element-row:not(.element-focus):active {
  background: #dcdcdc;
}

::ng-deep .tooltip-element-row {
  text-align: center;
  font-size: 13px;
  max-width: 180px !important;
  width: 180px !important;
}

div.footer.row-flex {
  justify-content: space-between;

  mat-list {
    padding-top: 0;
    margin: 0px 20px 4px;
    box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 30%);
    border-radius: 5px;

    mat-list-item {
      height: 29px;

      span {
        font-size: 15px;
        font-weight: 500;
      }

      ::ng-deep .mat-list-item-content {
        border-bottom: 1px solid #ddd;
        margin: 0px 10px;
      }

      .mat-list-icon {
        border-radius: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 375px);
}
