@import "src/scss/_variables.scss";

.mat-column-displayName {
  width: 30%;
  max-width: 90px;
}

.mat-column-email {
  width: 30%;
  max-width: 90px;
}

.mat-column-jobTitle {
  width: 20%;
  max-width: 90px;
}

.mat-column-birthDate {
  width: 10%;
  max-width: 90px;
}

.mat-column-active {
  width: 10%;
  max-width: 90px;

  mat-icon {
    margin: 0 6px;
  }
}

.mat-column-acoes {
  text-align: center;

  .buttons-align {
    display: flex;
  }
}

tr:nth-child(2n - 1):not(.mat-header-row) {
  background: rgba(249, 249, 249, 0.3);
}

tr.element-row:not(.element-focus):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.element-row:not(.element-focus):active {
  background: #ebebeb;
}

::ng-deep .tooltip-element-row {
  text-align: center;
  font-size: 12px;
  max-width: 180px !important;
  width: 180px !important;
}

::ng-deep .modal-contatos-emergencia {
  mat-dialog-container {
    padding: 0px 10px 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 375px);
}

.active {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;

  .title {
    font-size: 14px;
    margin-right: 30px;
  }

  .toggle-align {
    display: flex;
    justify-content: space-between;

    mat-label {
      font-size: 13px;
    }
  }
}

::ng-deep .mat-slide-toggle-thumb {
  background-image: none !important;
}