<div class="error-page" style="background-image: url('assets/img/brand/bg6.png');">
  <div class="brand">
    <button mat-icon-button (click)="goToHome()">
      <mat-icon color=accent>arrow_back</mat-icon>
    </button>
  </div>

  <div class="container w100">

    <div class="row header">
      <span class="code col-2">404</span>
      <span class="msgTitle col-10">{{'errorPage.perdido' | translate}}</span>
    </div>

    <div class="row">
      <span class="msgDesc col-12 text-muted">{{'errorPage.msg.404' | translate}}</span>
    </div>

  </div>

  <div class="brand"></div>
</div>