.full-width-table {
  width: 100%;
}

.mat-column-displayName {
  width: 35%;
  max-width: 90px;
}

.mat-column-email {
  width: 30%;
  max-width: 90px;
}

.mat-column-jobTitle {
  width: 25%;
  max-width: 90px;
}

.mat-column-birthDate {
  width: 10%;
  max-width: 90px;
}

.mat-column-acoes {
  text-align: center;

  .buttons-align {
    display: flex;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  padding-bottom: 0;

  button {
    height: 45px;
    width: 100px;
  }

  mat-form-field {
    width: 40%;
    font-size: 13px;
  }
}

.scroll {
  height: calc(100vh - 317px);
  overflow-y: auto;
  border-top: 1px solid rgb(0 0 0 / 12%);
}

mat-card-content {
  overflow: auto;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}