<mat-card class="shipping-card">
  <mat-card-header>
    <!-- <mat-card-title>Produtos</mat-card-title>    -->
    <mat-card-title>{{'cadastros.usuarios.titulos.usuario'|translate}}</mat-card-title>
  </mat-card-header>
  <div class="mat-elevation-z8">
    <div class="row">
      <div class="col" style="margin: 15px 15px 15px 15px;">
        <button style="float: left;margin: 15px;" mat-raised-button color="primary" type="button"
          (click)="adicionar()">{{'cadastros.adicionar'| translate}}</button>
      </div>
      <div class="col" style="margin: 15px 15px 15px 15px;">
        <mat-form-field class="input-full-width" style="width: 100%;" appearance="fill">
          <mat-label>{{'cadastros.buscar'| translate}}</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" type="search" placeholder="Buscar">
        </mat-form-field>
      </div>
    </div>

    <table mat-table class="full-width-table" aria-label="Elements" matSort [dataSource]="dataSource">
      <!-- USER Column -->
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'cadastros.usuarios.lista.usuario'| translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.displayName }}</td>
      </ng-container>

      <!-- EMAIL Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'cadastros.usuarios.lista.email'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- ACOES Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>{{'cadastros.usuarios.lista.acoes'|translate}}</th>
        <td mat-cell *matCellDef="let m">
          <div class="buttons-align">
            <button (click)="editar(m.uid)" mat-icon-button color="primary" matTooltip="{{'cadastros.editar'|translate}}" >
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="warn" matTooltip="{{'cadastros.remover'|translate}}" type="button" (click)="confirmDialog(m)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5,25, 50, 100, 250]">
  </mat-paginator>

</mat-card>