<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center" *ngIf="!isCarregando">
        <div class="col-md-6">
          <div class="clearfix">
            <!-- <h1 class="float-left display-3 mr-4"></h1> -->
            <h4 class="pt-3">Pedido enviado.</h4>
            <p class="text-muted">Deseja fazer outro pedido.</p>
          </div>
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-shopping-basket"></i></span>
            </div>
            <span class="input-group-append">
              <button (click)="gotoNovo()" class="btn btn-info" type="button">Novo Pedido</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="isCarregando">
        <div class="col-md-6">
          <div class="clearfix">
            <!-- <h1 class="float-left display-3 mr-4"></h1> -->
            <h4 class="pt-3">Aguarde!</h4>
            <p class="text-muted">Enviando pedido para o Whatsapp.</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
  