<form [formGroup]="pedidoForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
          <mat-card-title>Histórico</mat-card-title>       
          <!-- <mat-card-title>Cadastrar Pedido</mat-card-title>        -->
      </mat-card-header>
      
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Celular</mat-label>
              <input disabled matInput placeholder="(00)00000-0000" formControlName="numero_celular">
              <mat-error *ngIf="pedidoForm.controls['numero_celular'].hasError('required')">
                Celular é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>          
          </div>       
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Dia de entrega</mat-label>
              <mat-select disabled placeholder="Selecione o dia para entrega" formControlName="dia_entrega">
                <mat-option *ngFor="let dia of dia_semana" [value]="dia">
                  {{ dia }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pedidoForm.controls['dia_entrega'].hasError('required')">
                Unidade de medida é <strong>obrigatória</strong>
              </mat-error>
            </mat-form-field>
          </div>  
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Forma de pagamento</mat-label>
              <mat-select disabled placeholder="Unidade Medida" formControlName="forma_pagamento">
                <mat-option *ngFor="let state of forma_pagamento" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pedidoForm.controls['forma_pagamento'].hasError('required')">
                Unidade de medida é <strong>obrigatória</strong>
              </mat-error>
            </mat-form-field>
          </div>  
  
          <div class="col">
            Total Pedido: {{total | currency:'BRL':true }}
          </div>
        </div> 
        <div class="row">
          <div class="col">
            <section class="example-section">
              <label class="example-margin">Pago: </label>
              <mat-radio-group disabled formControlName="pago">
                <mat-radio-button class="example-margin" [checked]="pedido.pago" value="true">Sim</mat-radio-button>
                <mat-radio-button class="example-margin" [checked]="!pedido.pago" value="false">Não</mat-radio-button>
              </mat-radio-group>
            </section>
         </div>    
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <!-- <th>Preço</th> -->
                    <th class="td-prod-btn">qtd</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="td-prod " *ngFor="let prod of catalogoAtual?.produtos">
                    <td class="td-prod-descr" style="width:50%">{{ prod.descricao }} <br>
                      {{ prod.valorA | currency:'BRL':true }} {{ tipoUnidademedida(prod) }} </td>
                    <!-- <td class="td-prod"> {{ prod.valorA | currency:'BRL':true }} {{ tipoUnidademedida(prod) }}</td> -->
                    <td class="td-prod-btn">                          
                        <p class="qtd"> {{prod.quantidade || 0}} </p>          
                    </td>
                    <td class="td-prod" style="font-size: 10px;">{{(prod?.valor_total != null) ? (prod.valor_total | currency:'BRL':true) : (0 | currency:'BRL':true)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>         
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button   mat-raised-button color="danger" type="button" (click)="voltar()">Voltar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
  