<mat-card-header class="principal">
    <mat-card-title>
        <span class="title">
            <a href="#/vehicles">
                <mat-icon color=accent>arrow_back</mat-icon>
                <span>{{ 'menu.vehicles' | translate}}</span>
            </a>
        </span>
        <span class="sub-title">{{ pageTitle }}</span>
    </mat-card-title>
</mat-card-header>

<nav mat-tab-nav-bar>
    <div *ngFor="let link of navLinks">
        <a mat-tab-link 
            [routerLink]="link.path" 
            routerLinkActive 
            #rla="routerLinkActive"
            [active]="rla.isActive"
            class="row-flex">
            <mat-icon>{{link.icon}}</mat-icon>
            <span>{{link.label | translate}}</span>

            <div class="mat-ink-bar"></div>
        </a>
    </div>
</nav>

<mat-card-content class="scroll">
    <router-outlet></router-outlet>
</mat-card-content>