@import "src/scss/_variables.scss";

::ng-deep .mat-ink-bar {
  width: 160px !important;
}

a span {
  margin-left: 5px;
}

a:hover {
  color: $peyer-color-green;
  text-decoration: none !important;

  span {
    text-decoration: underline;
  }
}

.mat-tab-label-active {
  opacity: 1;

  mat-icon {
    color: $peyer-color-green;
  }
}

.scroll {
    height: calc(100vh - 197px);
    overflow-y: auto;
    padding: 15px;
    margin-bottom: 0;
}
