@import "src/scss/variables";

mat-card-content.principal {
  margin-bottom: 10px;
}

.mat-column-name {
  width: 25%;
  max-width: 90px;
}

.mat-column-beginDate,
.mat-column-endDate {
  width: 15%;
  max-width: 90px;
}

.mat-column-status {
  width: 16%;
  max-width: 90px;
  padding: 0 5px;

  &.mat-header-cell {
    padding: 0 20px;
  }
}

.status {
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 30%);


  &.pending {
    background-color: $peyer-color-yellow-light;
    padding: 5px 12px;
  }

  &.accepted {
    background-color: $peyer-color-green-light;
    padding: 5px 7px;
  }

  &.rejected {
    background-color: $color-warn-light;
    padding: 5px 10px;
  }
}

.mat-column-period {
  width: 16%;
  max-width: 90px;
}

.mat-column-cause {
    width: 16%;
    max-width: 90px;
  }
  

.mat-column-actions {
  text-align: center;

  .buttons-align {
    display: flex;
  }
}

tr:nth-child(2n - 1):not(.mat-header-row) {
  background: rgba(249, 249, 249, 0.3);
}

tr.element-row:not(.element-focus):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.element-row:not(.element-focus):active {
  background: #ebebeb;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 375px);
}

.pending .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  color: $peyer-color-yellow;
}

.accepted .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  color: $peyer-color-green;
}

.rejected .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  color: $color-warn;
}

.all .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  color: gray;
}

::ng-deep .toggle-status-dialog {
  [mat-dialog-title] {
    margin: 0;
  }
  
  .row-flex {
    justify-content: space-between;
  }
  
  .header {
    text-align: end;
  
    mat-icon {
      border-radius: 50%;
    }
  }

  mat-dialog-container {
    padding: 0 7px;
    box-shadow: none;
  }

  .header {
    mat-icon {
      cursor: pointer;      
    }
  }

  .title {
    font-size: 1.15em;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .status {
    margin: 0;
    width: 35%;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 6px -1px rgb(0 0 0 / 60%);
    }
  }

  .align-status {
    height: 59%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}