// Variable overrides
$peyer-color-green: #00747a;
$peyer-color-yellow: #ffe40c;
$color-warn: #d32f2f;

$peyer-green: (
    50 : #e0eeef,
    100 : #b3d5d7,
    200 : #80babd,
    300 : #4d9ea2,
    400 : #26898e,
    500 : #00747a,
    600 : #006c72,
    700 : #006167,
    800 : #00575d,
    900 : #00444a,
    A100 : #7ef2ff,
    A200 : #4becff,
    A400 : #18e7ff,
    A700 : #00e3fd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$peyer-yellow: (
    50 : #fffce2,
    100 : #fff7b6,
    200 : #fff286,
    300 : #ffec55,
    400 : #ffe830,
    500 : #ffe40c,
    600 : #ffe10a,
    700 : #ffdd08,
    800 : #ffd906,
    900 : #ffd103,
    A100 : #ffffff,
    A200 : #fffcf2,
    A400 : #fff2bf,
    A700 : #ffeda6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$peyer-warn: (
    50 : #fae6e6,
    100 : #f2c1c1,
    200 : #e99797,
    300 : #e06d6d,
    400 : #da4e4e,
    500 : #d32f2f,
    600 : #ce2a2a,
    700 : #c82323,
    800 : #c21d1d,
    900 : #b71212,
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);