// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

/* Customizing Angular Material Theme (Indigo & Pink) */
@import "@angular/material/theming";
@include mat-core();

$custom-app-primary: mat-palette($peyer-green);
$custom-app-accent: mat-palette($peyer-yellow);
$custom-app-warn: mat-palette($peyer-warn);

$custom-theme: mat-light-theme(
  $custom-app-primary,
  $custom-app-accent,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);

@include angular-material-typography($custom-typography);
/*---------------------------------------------*/

* {
  font-family: Poppins, Helvetica, sans-serif;
  //font-weight: 500;
}

/* SIDEBAR */
/*$width-sidebar: 210px;

.sidebar-lg-show {
  app-sidebar {
    width: $width-sidebar !important;

    app-sidebar-nav {
      width: $width-sidebar !important;

      app-sidebar-nav-items {
        width: $width-sidebar !important;
      }
    }
  }

  main.main {
    //margin-left: 210px !important;
  }
}*/

/* HELPERS */
.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.column-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.animation360 {
  transition: transform 0.7s ease-in-out;
}

button:focus .animation360 {
  transform: rotate(360deg);
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
  background-color: #dad7d7;
}
::-webkit-scrollbar {
  width: 10px;
  background: #dad7d7;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

/* Autocomplete background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

/* PROGRESS SPINNER COLOR */
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $peyer-color-green;
}

*:disabled {
  cursor: not-allowed;

  *{
    cursor: not-allowed;
  }
}

/* ICONS  */
.icon-edit {
  color: $peyer-color-green;
}

/* (BUTTONS) */
button:hover {
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.37) !important;
  }
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
//--- (BUTTONS) ---

/* (FORMULÁRIO) */
.text-danger {
  color: $color-warn !important;
}

.mat-form-field-ripple {
   background-color: $peyer-color-green;
}

// Input (appearance=outline)
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #797878;
  //opacity: 0.5 !important;
}

// Input focado (appearance=outline)
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  // color: $peyer-color-green !important;
}

// Input with erro - linha (appearance=outline)
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: $color-warn;
}

// Input with erro - label
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $color-warn;
}

// Label de erro
.mat-error {
  color: $color-warn;
}

// Label
mat-form-field {
  .mat-hint,
  input,
  ::placeholder,
  .mat-form-field-label {
    color: #797878;
  }
}

// Label focused
.mat-form-field.mat-focused .mat-form-field-label {
  // color: $peyer-color-green !important;
}

// Mat-form-field formatado para quando possuir prefixo
.field-whith-prefix {
  input {
    margin-left: 27px;
  }

  .mat-form-field-prefix {
    position: absolute !important;
    padding-top: 16px;
  }
  &.mat-form-field-hide-placeholder .mat-form-field-label {
    margin-left: 27px !important;
  }
}

// Quando o campo está readonly
mat-form-field.isReadOnly {

  &.mat-form-field-appearance-outline {
    .mat-form-field-flex .mat-form-field-outline {
      background-color: #ddd !important;
      border-radius: 5px;
    }
  }

  &:not(.mat-form-field-appearance-outline) {
    .mat-form-field-flex {
      background-color: #ddd !important;
    }
  }

  .mat-form-field-flex {
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }
}

//--- (FORMULÁRIO) ---


/* CALENDÁRIO */
.mat-calendar-header {
  background: $peyer-color-green;
  
  * {
    color: white !important;
  }

  .mat-calendar-arrow {
    border-top-color: white;
  }
}
/* --- CALENDÁRIO --- */

/* TABLE */
.options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  padding-bottom: 0;

  button {
    height: 45px;
    width: 100px;
  }

  mat-form-field {
    width: 40%;
    font-size: 13px;
  }
}

.table-scroll {
  overflow-y: auto;
  height: 79%;
  border-top: 1px solid rgb(0 0 0 / 12%);
}

.dataEmpty {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #73818f;
}
/* --- TABLE --- */

/* BUTTON TOGGLE */
.mat-slide-toggle-bar {
  height: 27px !important;
  width: 88px !important;
}

.mat-slide-toggle-thumb {
  height: 30px !important;
  width: 70px !important;
  border-radius: 8px !important;
}

.mat-slide-toggle-thumb-container {
  height: 32px !important;
  width: 72px !important;
  top: -2px !important;
}
/* --- BUTTON TOGGLE --- */


/* TOAST */
.toast-message {
  white-space: pre-wrap;
}