// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

/* Customizing Angular Material Theme (Indigo & Pink) */
@import "@angular/material/theming";
@include mat-core();

$custom-app-primary: mat-palette($peyer-green);
$custom-app-accent: mat-palette($peyer-yellow);
$custom-app-warn: mat-palette($peyer-warn);

$custom-theme: mat-light-theme(
  $custom-app-primary,
  $custom-app-accent,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);
/*---------------------------------------------*/

* {
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
}

/* CHECKBOX */
// estado = checked (v)
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $peyer-color-green !important;
}

// estado = indeterminate (-)
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $peyer-color-green !important;
}
//------

/* SIDEBAR */
$width-sidebar: 210px;
.sidebar-lg-show {
  app-sidebar {
    width: $width-sidebar !important;

    app-sidebar-nav {
      width: $width-sidebar !important;

      app-sidebar-nav-items {
        width: $width-sidebar !important;
      }
    }
  }

  main.main {
    margin-left: 210px !important;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
  background-color: #dad7d7;
}
::-webkit-scrollbar {
  width: 10px;
  background: #dad7d7;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

/* Autocomplete background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

/* PROGRESS SPINNER COLOR */
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $peyer-color-green;
}

/* ICONS  */
.icon-add {
  color: $peyer-color-green;
}

.icon-danger {
  color: $color-warn;
}

.icon-edit {
  color: $peyer-color-green;
}

/* BEGIN (BUTTONS) */
button:hover {
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.37) !important;
  }
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
//---END (BUTTONS)---

/* BEGIN (FORMULÁRIO) */
.text-danger {
  color: $color-warn !important;
}

.mat-form-field-ripple {
  background-color: $peyer-color-green !important;
}

// Input (appearance=outline)
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #797878;
  //opacity: 0.5 !important;
}

// Input focado (appearance=outline)
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $peyer-color-green !important;
}

// Input with erro - linha (appearance=outline)
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: $color-warn;
}

// Input with erro - label
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $color-warn;
}

// Label de erro
.mat-error {
  color: $color-warn;
}

// Label
mat-form-field {
  .mat-hint,
  input,
  ::placeholder,
  .mat-form-field-label {
    color: #797878;
  }
}

// Label focused
.mat-form-field.mat-focused .mat-form-field-label {
  color: $peyer-color-green !important;
}

// Mat-form-field formatado para quando possuir prefixo
.field-whith-prefix {
  input {
    margin-left: 27px;
  }

  .mat-form-field-prefix {
    position: absolute !important;
    padding-top: 16px;
  }
  &.mat-form-field-hide-placeholder .mat-form-field-label {
    margin-left: 27px !important;
  }
}

// Quando o campo está readonly
mat-form-field.mat-form-field-appearance-outline.isReadOnly {
  .mat-form-field-outline {
    background-color: #ccc !important;
    color: rgba(0, 0, 0, 0.349) !important;
    border-radius: 5px;
  }
  .mat-form-field-label {
    color: rgba(0, 0, 0, 0.7);
  }
}

//---END (FORMULÁRIO)---
